// ------------------------------------------------
// Utilities
// ------------------------------------------------ //

// Accessibility hidden elements
.u-visuallyhidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  position: absolute;
}

// Margin bottom
.u-spacing-bottom {
  margin-bottom: @layout-spacing;
}

// Margin top
.u-spacing-top {
  margin-top: @layout-spacing;
}
